body{
  font-family: 'Times New Roman', Times, serif ;
}

.colour-picker-container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

h1{
  margin: 30px;
  font-display: 3rem;
}

.colour-display{
  width: 30px;
  height: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:5px solid hsl(0% 0% 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-picker{
  height:200px;
  width:200px;

}