.count-display{
  text-align: center;
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  font-size: 900;
}
.counter-button{
  padding: 10px;
  margin: 0px 5px;
  border-style: solid;
  border-color: black;
  color: purple;
  background-color: rgb(32, 234, 244);
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  cursor:pointer;
  font-weight: bold;
}
.counter-button:hover{
  color:white;
  background-color: rgb(85, 1, 137);
}
.counter-container{
  text-align: center;
}